<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984492229188-jcm0jbu6b1ocu06e1p7bcffbcrpj16mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984492229188-jcm0jbu6b1ocu06e1p7bcffbcrpj16mp</string>
	<key>API_KEY</key>
	<string>AIzaSyBBePxwu3TL0Jb7cYhnK-Fzh2hOo0eXD38</string>
	<key>GCM_SENDER_ID</key>
	<string>984492229188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SFU.AnimalShelter</string>
	<key>PROJECT_ID</key>
	<string>animalshelter-fa395</string>
	<key>STORAGE_BUCKET</key>
	<string>animalshelter-fa395.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984492229188:ios:8902080018311e85</string>
	<key>DATABASE_URL</key>
	<string>https://animalshelter-fa395.firebaseio.com</string>
</dict>
</plist>